
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 background: hsl(212, 45%, 89%);
}
  .attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
 border-radius: 20px;
  }
  
  .link1 {
    color: black;
    text-decoration: none;
  }

  .link2 {
    color: black;
    text-decoration: none;
  }

  .test {
    display: flex;
    flex-direction: column;
      width: max-content;
      height: max-content;
      justify-content: center;
      align-items: center;
    box-shadow: black;
    background-position: center;
   background-color: white;
   box-shadow: black;
   padding: 1vw;
   border-radius: 20px;
  }

  .image {
    border-radius: 20px;
  }
  .bold {
    font-family: "Outfit", sans-serif;
      font-size: large;
      font-weight: 700;
      font-style: large;
    }
   .light {
    font-family: "Outfit", sans-serif;
    font-size: small;
    font-weight: 400;
   }